.main-nav{
    margin-top: 40px;
    list-style: none;
    padding-left: 50 ;
     
}

.main-nav__item{
    display: inline-block;
}
.main-nav__item a{
    color: #0a516d;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #bacca4;
}

.main-nav__item a:hover{
    color: #018790;
}

.main-nav__item a:active{
    color:#2b2726;
}
