*{
    box-sizing: border-box;
     margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

img {
    width: 50%;
}

main div, body, p{
    font-size: 1.6rem;
}

header{
    background-color: dodgerblue;
    width: 100vm;
    height: 10vh;
}

main {
    background-color: blueviolet;
    width: 100vm;
    height: 100vh;
}

img{
    width: 15vw;

}

footer {
    background-color: chocolate;
    width: 100vm;
    height: 10vh;
}


















/*
.container {
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5{
    width: 100vw;
    min-width: 150px;
    height: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.c1 {
    background-color: brown;
    
}

.c2 {
    background-color: gold;
}

.c3 {
    background-color: blueviolet;
}

.c4 {
    background-color: aquamarine;
}

.c5 {
    background-color: darkorange;
}

@media(min-width: 600px) {
    .c1{
        width: 100%;
    }
    .c2{
        width: 40%;
    }
    .c3{
        width: 60%;
    }
    .c4{
        width: 60%;
    }
    .c5{
        width: 40%;
    }
}


@media(min-width: 800px) {
    .container{
        width: 800px;
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 5vh;
    }
    .c1{
        width: 50%;   
    }
    .c4{
        width: 100%;
    }
    .c5{
        width: 50%;
        
    }
} 
*/
